
/*
 * main green: #94ed3b
 * */

:root {
    --main-bg-color: #101010;
    --main-text: #eee;
    --main-sec: rgb(62, 176, 239); /* main secondary color for the site */
    --code-quote-bg: #1D1F21; /* background color for quotes and code blocks */
    --copyright: #808080; /* copyright text color */
    --shadow-color-heading: 0 0 0px rgba(105,255,122,.25);
    --shadow-color: 0 0 0px rgba(140,175,200,.5);
    --shadow-color-hover: 0 0 7px rgba(250,250,250,.35);
    --shadow-dark: 0 0 0px rgba(15,15,15,.4);
    --shadow-copyright-color: 0 0 0px rgba(160,160,160,.75);
    --shadow-copyright-hover: 0 0 0px rgba(255,255,255,.75);
				--main-sec-h1: rgb(62, 176, 239);
				--main-sec-h2: rgba(62, 176, 239,.8);
				--main-sec-h3: rgba(62, 176, 239,.6);
				--main-sec-h4: rgba(62, 176, 239,.4);
				--main-sec-h5: rgba(62, 176, 239,.2);
				--main-sec-h6: rgba(62, 176, 239, .2);
}

body {
  background: var(--main-bg-color);
  color: var(--main-text);
}

a {
  color: var(--main-text);
	/*text-shadow:var(--shadow-color);*/
}

a:hover {
	/*text-shadow:var(--shadow-color-hover);*/
}

.__h_instagram.card {
  border: 1px solid #303030 !important;
}

.__h_instagram .card-text {
  color: var(--main-text);
}

.__h_instagram .card-header {
  color: var(--main-bg-color);
  background-color: #101010;
}

.__h_instagram .card-body {
  color: var(--main-bg-color);
  background-color: #101010;
}

pre {
  background: var(--main-bg-color);
  border: 1px solid #303030;
  border-radius: 5px;
}

code {
  background-color: transparent;
}

/*
 * syntax highlight code block table backround
 * looks better if overwritten.
 * */
.post .content .highlight table {
  background-color: #202020 !important;
}

blockquote {
  background: var(--main-bg-color);
  border-left: 3px solid var(--main-sec);
}

table { margin: 1em auto; border-collapse: collapse; }
table, th, td { border: 1px solid #5C5C5C; }
tr:hover { background: #1D1F21; }
th { background: #101010; }
.siteTitle a {
  color: var(--main-sec);
}

.post {
  background: #202020;
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
  border-top: 1px solid #303030;
  border-radius: 0.2em;
  box-shadow: 0 1px 2px 0 #000000, 0 2px 5px 0 #000000;
}

.post h1.title {
text-transform:uppercase;
color: var(--main-text);
background-color:var(--shadow-copyright-color);
/*text-shadow:var(--shadow-copyright-hover);*/

}

.post .content h1, .post .content h2, .post .content h3, .post .content h4, .post .content h5, .post .content h6 {
text-transform:uppercase;
text-align:center;
background-color: var(--main-sec);
color: var(--main-bg-color);
/*text-shadow:var(--shadow-dark);*/
}

.post .content h1 {font-size:2em;padding:6px;background-color:var(--main-sec-h1);}
.post .content h2 {font-size:1.8em;padding:5px;background-color:var(--main-sec-h2);}
.post .content h3 {font-size:1.60em;padding:4px;background-color:var(--main-sec-h3);}
.post .content h4 {font-size:1.40em;padding:3px;background-color:var(--main-sec-h4);}
.post .content h5 {font-size:1.20em;padding:2px;background-color:var(--main-sec-h5); color: var(--main-sec); }
.post .content h6 {font-size:1.0em;padding:1px;background-color:var(--main-sec-h6);  color: var(--main-sec);}
post .content a:hover { color: var(--main-sec); }
.social-link:hover { color: var(--main-sec); }
.nav-item-title:hover { color: var(--main-sec); }
.tag a:hover { color: var(--main-sec); }
.copyright { color: var(--copyright); }
.poweredby { color: var(--copyright); }
.poweredby a { color: var(--copyright); text-shadow:var(--shadow-copyright-color); }
.poweredby a:hover { text-shadow:var(--shadow-copyright-hover); }

.post-preview {
  border: 1px solid #303030;
  border-radius: 0.2em;
  box-shadow: 0 1px 2px 0 #000000, 0 2px 5px 0 #000000;
  background: #202020;
}

.post-preview .meta {
  border-bottom: 1px solid #303030;
}

.post-preview .title a {
  color: var(--main-sec);
}

.post-footer-data {
  background-color: #101010;
  border-bottom: 1px solid #303030;
}

.post-footer hr {
  color: #303030;
}

.content-item {
  background: #202020;
  border: 1px solid #303030;
  border-radius: 0.2em;
  box-shadow: 0 1px 2px 0 #000000, 0 2px 5px 0 #000000;
}

.content-item .meta {
  border-top: 1px dotted #303030;
}

.content-item a:hover{
  text-decoration: underline;
  color: var(--main-sec);
}

.post-list .title {
  color: var(--main-sec);
}

.rmore {
  color: var(--main-text);
}

.rmore a {
  background: var(--main-bg-color);
  border: 1px solid #303030;
}

.rmore a:hover {
  background: #202020;
  color: var(--main-text);
}

.terms {
  background: #202020;
  border: 1px solid #303030;
  box-shadow: 0 1px 2px 0 #000000, 0 2px 5px 0 #000000;
}

.terms .term {
  border-bottom: 1px dotted #303030;
}

.term a:hover {
  text-decoration: underline;
  color: var(--main-sec);
}

.err-404 {
  border: 1px solid #303030;
  border-radius: 0.2em;
  background: #202020;
  box-shadow: 0 1px 2px 0 #000000, 0 2px 5px 0 #000000;
}
